* {
  box-sizing: border-box;
}

body {
	background-color: #333;
	overflow-x: hidden;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.container {
	background-color: #fafafa;
	width: 100vw;
	min-height: 100vh;
	padding: 50px;
	transform-origin: top left;
	transition: transform 0.5s linear;
}

.content {
	max-width: 1000px;
	margin:50px auto;
}

.content h1 {
	margin: 0;
}

.content small {
	color: #555;
	font-style: italic;
}

.content p {
	color: #333;
	line-height: 1.5;
}

.content img {
  max-width: 100%;
}

.circle {
	background-color: #ff7979;
	width: 200px;
	height: 200px;
	position: fixed;
	top: -100px;
	left: -100px;
	border-radius: 50%;
	transition: transform 0.5s linear;
}

.circle button {
	background-color: transparent;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 26px;
	position: absolute;
}

.circle button:focus {
	outline: none;
}

.circle #open {
	right: 20%;
	bottom: 20%;
}

.circle #close {
	left: 20%;
	bottom: 20%;
}

/* 动画 */
.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav .circle {
	transform: rotate(-70deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

/* nav */
nav {
	position: fixed;
	left: 0;
	bottom: 40px;
	z-index: 100;
}

nav ul {
	list-style-type: none;
	
}

nav ul li {
	text-transform: uppercase;
	color: #fff;
	margin: 40px 0;
	transform: translateX(-100%);
	transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a{
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #FF7979;
  font-weight: bold;
}